/* basic styling for body */

body {
  background-image: linear-gradient(to right, #419dda, #98c6ff);
  font-family: 'Plex Sans', sans-serif;
  padding-top: 20px;
}

.btn {
  border-radius: .25rem;
}

#cityName {
  width: 70%;
}

#searchHistory button {
  margin: 5px;
}

.forecast-cards .card {
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}